apiVersion: v1
kind: Pod
metadata:
  name: nginx-signed
  labels:
    app: nginx
    signed: "true"
spec:
  containers:
  - name: nginx
    image: 952787157428.dkr.ecr.ap-northeast-1.amazonaws.com/nginx-signed:latest
    ports:
    - containerPort: 80
      protocol: TCP
    resources:
      requests:
        memory: "64Mi"
        cpu: "100m"
      limits:
        memory: "128Mi"
        cpu: "200m"
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-signed-service
  labels:
    app: nginx
spec:
  type: ClusterIP
  selector:
    app: nginx
    signed: "true"
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
